* {
    box-sizing: border-box;
}

html {
    font-size: 1.25em; /* 20px on most screens */
}

body {
    margin: 0;
}

article, aside, footer {
    margin: 12px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%l;
    background-color: #294969;
    color:ghostwhite;
    padding: 10px 15px;
    border: 12px solid #ffa949;
    border-bottom-color: #cf7919;
}

article {
    margin-top: 3rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
    border-bottom: 2px dotted #666;
    background: azure;
}

#interesting-banner {
    position: sticky;
    top:0;
    padding: 10px 15px;
    border: 12px solid lightsalmon;
    margin: 0 -8px;
    background: firebrick;
    color: white;
    font-weight: bold;
}

.hide {
    display: none;
}

figure {
    position: relative;
    margin: 0;
}

figcaption {
    position: absolute;
    width: 100px;
    bottom: 20px;
    background-color: yellow;
    text-align: center;
}

figure, aside img, #bio {
    width: 100%;
    max-width: 600px;
}

#bio {
    padding: 2rem;
    border: 5px solid tomato;
    background-color: mistyrose;
}

footer {
    width: 200px;
    padding: 4px;
    border: 2px solid #ffa949;
    margin: 30px auto 15px;
    color: #294969;
    font-size: .8rem;
    text-align: center;
}

ul li {
    display: inline-block;
    width: 30%;
    padding: 10px 0;
    background-color: yellow;
    text-align: center;
}